<!DOCTYPE HTML>
<html>
  <head>
    <title>Welcome to gifer</title>
<!--    <script>
    function initStream() {
       var mediaConstraints = {
            video: true
        };

        var videosContainer = document.getElementById('videos-container');

        var successCallback = function(stream) {
            var inVideo = document.createElement('video');
            inVideo.src = window.URL.createObjectURL(stream);
            inVideo.play();
            videosContainer.appendChild(inVideo);

            var mediaRecorder = new MediaRecorder(stream);

            mediaRecorder.mimeType = 'image/gif';

            mediaRecorder.videoWidth = 320;
            mediaRecorder.videoHeight = 240;

            mediaRecorder.ondataavailable = function(blob) {
                var outVideo = document.createElement('video');
                outVideo.src = window.URL.createObjectURL(blob);
                videosContainer.appendChild(outVideo);
            };

            mediaRecorder.start(3000);
        };

        var errorCallback = function(e) {
          console.log("Failed to create video stream!", e);
        };

        if (navigator.getUserMedia) {
            navigator.getUserMedia(mediaConstraints, successCallback, errorCallback);
        }
    }
    </script>
-->

        <script src="//www.webrtc-experiment.com/MediaStreamRecorder.js"> </script>

  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{servlet-context}}/">gifer</a>
        </div>
        {% block menu %}
          {% include "gifer/views/templates/menu.html" %}
        {% endblock %}
      </div>
    </div>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
    <!-- scripts and styles -->
              <script>
            var mediaConstraints = { video: true };
            navigator.getUserMedia(mediaConstraints, onMediaSuccess, onMediaError);

            function onMediaSuccess(stream) {
                var video = document.createElement('video');

                var videoWidth = 320;
                var videoHeight = 240;

                video = mergeProps(video, {
                    width: videoWidth,
                    height: videoHeight,
                    src: URL.createObjectURL(stream)
                });
                video.play();

                videosContainer.appendChild(video);
                videosContainer.appendChild(document.createElement('hr'));

                var mediaRecorder = new MediaStreamRecorder(stream);
                mediaRecorder.mimeType = 'image/gif'; // this line is mandatory
                mediaRecorder.videoWidth  = videoWidth;
                mediaRecorder.videoHeight = videoHeight;
                mediaRecorder.ondataavailable = function(blob) {
                    var a = document.createElement('a');
                    a.target = '_blank';
                    a.innerHTML = 'Open Recorded Video No. ' + (index++);

                    a.href = URL.createObjectURL(blob);

                    videosContainer.appendChild(a);
                    videosContainer.appendChild(document.createElement('hr'));
                };

                // get blob after each 5 second!
                mediaRecorder.start(5 * 1000);
            }

            function onMediaError(e) {
                console.error('media error', e);
            }

            var videosContainer = document.getElementById('videos-container');
            var index = 1;
        </script>

    {% style "/css/bootstrap-theme.min.css" %}
    {% style "/css/bootstrap.min.css" %}
    {% style "/css/screen.css" %}
    <script src="//code.jquery.com/jquery-2.0.3.min.js" type="text/javascript"></script>
    {% script "/js/bootstrap.min.js" %}
    <script type="text/javascript">
      var context = "{{servlet-context}}";
      $(function() {
        $("#{{selected-page}}").addClass("active");
      });
    </script>
  </body>
</html>
