<!DOCTYPE HTML>
<html>
  <head>
    <title>Welcome to Internet Famous</title>
      {% script "/js/RecordRTC.js" %}
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{servlet-context}}/">Internet Famous</a>
        </div>
        {% block menu %}
          {% include "gifer/views/templates/menu.html" %}
        {% endblock %}
      </div>
    </div>
   <div class="container">
      {% block content %}
      {% endblock %}
    </div>
    <!-- scripts and styles -->
      <script>
          var inVideo = document.getElementById('inVideo');
          var outVideo = document.getElementById('outVideo');

          var videosContainer = document.getElementById('videos-container');
          var mediaConstraints = { video: true };
          navigator.getUserMedia(mediaConstraints, onMediaSuccess, onMediaError);
          function onMediaSuccess(stream) {
              window.stream = stream;
              inVideo.src = URL.createObjectURL(stream);
              videosContainer.appendChild(document.createElement('hr'));
          }

          function onMediaError(e) {
              console.error('media error', e);
          }
          function record() {
              var options = { type: 'video' };
              var recordRTC = RecordRTC(window.stream, options);
              recordRTC.startRecording();
              function stop() {
                  recordRTC.stopRecording(function(videoURL) {
                      window.blob = recordRTC.getBlob();
                      outVideo.src = videoURL;
                  });
              }
              setTimeout(stop, 5000);
          }

          var filters = ['grayscale', 'sepia', 'blur', 'brightness',
                         'contrast', 'hue-rotate', 'hue-rotate2',
                         'hue-rotate3', 'saturate', 'invert', ''];

          function changeFilter(index) {
              var el = outVideo;
              el.className = '';
              var effect = filters[index]; // loop through filters.
              if (effect) {
                  el.classList.add(effect);
              }
          }

          function save() {
              var reader = new FileReader();
              reader.onloadend = function() {
                 var form = document.createElement('form');
                 form.setAttribute('method', 'post');
                 form.setAttribute('action', '{{servlet-context}}/save');
                 form.style.display = 'hidden';
                 var effect = document.createElement('input');
                 effect.setAttribute('type', 'hidden');
                 effect.setAttribute('name', 'effect');
                 effect.setAttribute('value', document.getElementById('outVideo').className);
                 form.appendChild(effect);
                 var b64string = document.createElement('input');
                 b64string.setAttribute('value', reader.result);
                 b64string.setAttribute('type', 'hidden');
                 b64string.setAttribute('name', 'b64string');
                 form.appendChild(b64string);
                 document.body.appendChild(form);
                 form.submit();
              }
              reader.readAsDataURL(window.blob);
          }
      </script>
    {% style "/css/bootstrap-theme.min.css" %}
    {% style "/css/bootstrap.min.css" %}
    {% style "/css/screen.css" %}
    <script src="//code.jquery.com/jquery-2.0.3.min.js" type="text/javascript"></script>
    {% script "/js/bootstrap.min.js" %}
    <script type="text/javascript">
      var context = "{{servlet-context}}";
      $(function() {
        $("#{{selected-page}}").addClass("active");
      });
    </script>
  </body>
</html>
