{% extends "gifer/views/templates/base.html" %}
{% block content %}
 <div class="jumbotron" onload="initStream()";>
    <h1>Welcome to gifer</h1>
    <div id="videos-container">
        <video id="inVideo" autoplay></video>
        <video id="outVideo" autoplay loop></video>
     </div>
    <button onclick="record()" id="startButton" class="btn btn-success btn-lg">Record GIF</button>
  </div>

  <div class="row-fluid">
    <div class="span8">
        <h3>OMG filters!</h3>
            <div class="btn-group btn-group-lg">
                <button onclick="changeFilter(10)" type="button" class="btn btn-default">No filter</button>
                <button onclick="changeFilter(0)" type="button" class="btn btn-default">Grayscale</button>
                <button onclick="changeFilter(1)" type="button" class="btn btn-default">Sepia</button>
                <button onclick="changeFilter(2)" type="button" class="btn btn-default">Blur</button>
                <button onclick="changeFilter(3)" type="button" class="btn btn-default">Bright</button>
                <button onclick="changeFilter(4)" type="button" class="btn btn-default">Contrast</button>
                <button onclick="changeFilter(5)" type="button" class="btn btn-default">Hue rotate</button>
                <button onclick="changeFilter(6)" type="button" class="btn btn-default">Hue rotate 2</button>
                <button onclick="changeFilter(7)" type="button" class="btn btn-default">Hue rotate 3</button>
                <button onclick="changeFilter(8)" type="button" class="btn btn-default">Saturate</button>
                <button onclick="changeFilter(9)" type="button" class="btn btn-default">Invert</button>
           </div>
    </div>
  </div>
{% endblock %}
